.cart-link {
    position: relative;
}

.cart path {
    stroke: var(--primary-color);
}

.cart-quantity {
    padding: 1px 4px;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-size: .6em;
    position: absolute;
    top: 0;
    right: 0;
}

.cart-total {
    margin-left: 1em;
}