* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  border: none;
  outline: none;
  text-decoration: none;
  color: #353535;
}

:root {
  --primary-color: #ba70ff;
  --secondary-color: #fdac42;
}

p, h2, h3, h4, span, a {
  color: #353535;
}